* {
    font-family: "Poppins";
}

.header {
    margin-bottom: 260px;
    position: relative;
}
.header img {
    width: 100%;
    height: auto;
}

.header-content {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    margin: 60px 200px;
    color: white;
}

.header-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    font-size: 12.8px;

}

.header-left p {
    text-align: justify;
    font-size: 11px;
    width: 90%;
    margin-top: 0px;
    font-weight: "lighter";
}

.header-left img {
    height: auto;
    width: 300px;
}

.content-wrapper {
    margin: 0 auto;
    max-width: 800px;
}

.page-content {
  padding: 20px;
  font-size: 14px;
}

.page-content h1 {
    font-weight: 800;
    margin-bottom: 0;
    margin-top: 0;
}

.titles-with-borders {
    font-size: medium;
    overflow: hidden;

}

.titles-with-borders h3 {
    position: relative;
    cursor: pointer;
    transition: color 0.3 ease;
}

.titles-with-borders h3:after {
    content: '';
    position: absolute;
    bottom: -5px;
    left:0;
    width: 100%;
    height: 5px;
    background: linear-gradient(to right, #22211F, transparent );
    background-clip: content-box;
    transition: opacity 0.3s ease;
    opacity: 0;
}

.titles-with-borders h3.active:after {
    opacity: 1;
}


.titles-with-borders p {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, opacity 0.3s ease;
}

.titles-with-borders p.show {
    max-height: 100px;
    overflow: visible;
    opacity: 1;
}

.other-events {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    margin: 0 240px;
}

.image-container img {
    height: auto;
    width: auto;
    margin-bottom: 10px;
    transition: transform 0.6s ease, box-shadow 0.3s ease;;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}
.image-container img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
}