.BlackSpace {

    background-color: #22211F;
    margin-top: -185px;
    padding-top: 320px;
    padding-bottom: 100px;
    margin-bottom: -90px;
    
}

.set-of-images {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 320px;
    margin-bottom: 50px;
}

.set {
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins";
    font-size: 30px;
    font-weight: 600;
    cursor: pointer;
}

.set img {
    transition: transform 0.5s ease;
}
.set p {
    margin-top: 40px;
}

.set img:hover {
    transform:scale(1.1);
}