.header {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(255, 0, 0, 0.1), white);
    background-size: 100% 150px;
    background-position: top;
    background-repeat: no-repeat;
}